/* @define color-coded-button */
.color-coded-button {
    border: 1px solid transparent;
    background: transparent;
    transition:
        color 0.15s ease-in-out,
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

$colors: (
    "0": #007bff,
    "1": #6c757d,
    "2": #28a745
);

@each $index, $color in $colors {
    /* stylelint-disable */
    .color-coded-button--#{$index} { 
        border-color: $color;
        color: $color;
    }

    .color-coded-button--#{$index}:hover,
    .color-coded-button--#{$index}.color-coded-button--active {
        color: #fff;
        background-color: $color;
    }
    /* stylelint-enable */
}
