@import "./base.css";

#app { /* stylelint-disable-line */
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
    font-weight: normal;
}

@media (max-width: 480px) {
    #app { /* stylelint-disable-line */
        padding: 1rem;
    }
}